<config>
	<matchrounds>30</matchrounds>
	<startmoney>800</startmoney>
	<maxmoney>10000</maxmoney>
	<everything_is_free>true</everything_is_free>
	<friendlyfire>false</friendlyfire>
	<friendlycollisions>true</friendlycollisions>
	<free_defusing_kit>false</free_defusing_kit>
	<freekevlar>false</freekevlar>
	<nobomb>false</nobomb>
	<nohostage>false</nohostage>
	<weapon_drop>true</weapon_drop>
	<autobalance>true</autobalance>
	<gore>false</gore>

	<locales>en,pl</locales>
	<default_locale>en</default_locale>
</config>
